stages:
  - test

test:
  image: swtracker/cypress-java:latest
  stage: test
  script:
    - npm install
    - npm test
  when: always
  artifacts:
    when: always
    paths:
      - allure-results
      - allure-report
      - cypress/screenshots
      - cypress/videos
    expire_in: 1 day