.idea
node_modules/
cypress/main/utils/data/JSONLoader.js
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/fixtures/
cypress/runner-results/
cypress/resources/data/testClients.json
cypress/resources/data/testCars.json