stages:
  - test

test:
  image: devsaur/cypress-java:latest
  stage: test
  # before_script:
  #   - apt-get -y install software-properties-common
  #   - add-apt-repository ppa:webupd8team/java
  #   - apt-get -y install oracle-java8-installer
  script:
    - npm install
    - npm test
  when: always
  artifacts:
    when: always
    paths:
      - allure-results
      - allure-report
      - cypress/screenshots
      - cypress/videos
    expire_in: 1 day

# stages:
#   - test

# test:
#   image: node:16-alpine
#   stage: test

#   cache:
#     paths:
#       - node_modules/
#   before_script:
#     - apk update && apk add xvfb openjdk11 chromium

#   script:
#     - npm install
#     - npm test
#   artifacts:
#     paths:
#       - allure-results
#       - allure-report
#       - cypress/screenshots
#       - cypress/videos

# stages:
#   - test

# test:
#   image: zenika/alpine-chrome:with-node
#   stage: test

#   cache:
#     paths:
#       - node_modules/
#   before_script:
#     - apk update && apk add xvfb openjdk11

#   script:
#     - npm install
#     - npm test
#   artifacts:
#     paths:
#       - allure-results
#       - allure-report
#       - cypress/screenshots
#       - cypress/videos