UI tests:
  image: lines14/cypress-java-dind:latest
  stage: test
  # only:
  #   - dev
  # cache:
  #   paths:
  #     - node_modules/
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
  before_script:
    # - cp .env.dev .env
    # - echo "${AMANAT24_TEST}" | tr -d '\r' > ./.env.test
    # - docker info
    # - docker compose version
  # tags:
  #   - k8s
  script:
    # - npm ci
    - npm run test:split
  parallel: 3
  when: always
  artifacts:
    when: always
    paths:
      - cypress/artifacts
      - cypress/screenshots
      - cypress/videos
    expire_in: 1 month