# stages:
#   - test
#   - generate-allure-report

# test:
#   image: cypress/browsers:latest
#   stage: test
#   script:
#     - npm ci
#     - npx cypress run --browser chrome --env allure=true --reporter mocha-allure-reporter
#   when: always
#   artifacts:
#     when: always
#     paths:
#       - allure-results
#     expire_in: 1 day

# generate-allure-result:
#   stage: generate-allure-report
#   image: pradapjackie/allure-reports-generation:1.0
#   artifacts:
#     paths:
#       - allure-results
#       - allure-report
#     when: always
#     expire_in: 1 days
#   script:
#     - allure generate allure-results --clean -o allure-report
#   when: always
#   allow_failure: true