e2e-tests:
  image: lines14/cypress-java-dind:latest
  stage: e2e-tests
  only:
    - dev
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
  before_script:
    - cp .env.dev .env
    - echo "${AMANAT24_TEST}" | tr -d '\r' > ./.env.test
    - docker login --username $USER --password $PASS registry.gitlab.com
    - service docker start
  tags:
    - k8s
  script:
    - npm ci
    - npm run start:ci
    - npm run test:split
  parallel: 3
  when: always
  artifacts:
    when: always
    paths:
      - cypress/artifacts
      - cypress/screenshots
      - cypress/videos
    expire_in: 1 month