UI tests:
  image: lines14/cypress-java-dind:latest
  stage: test
  tags:
    - privileged
  # only:
  #   - dev
  cache:
    paths:
      - node_modules/
  before_script:
    # - cp .env.dev .env
    # - echo "${AMANAT24_TEST}" | tr -d '\r' > ./.env.test
    - docker info
  # tags:
  #   - k8s
  # parallel: 3
  script:
    - npm ci
    - npm run test:ci
  when: always
  artifacts:
    when: always
    paths:
      - cypress/artifacts
      - cypress/screenshots
      - cypress/videos
    expire_in: 1 month