# stages:
#   - test

# test:
#   image: cypress/browsers:latest
#   stage: test
#   script:
#     - npm install
#     - npm test
#   when: always
#   artifacts:
#     when: always
#     paths:
#       - allure-results
#       - allure-report
#       - cypress/screenshots
#       - cypress/videos
#     expire_in: 1 day

stages:
  - test

test:
  image: node:16-alpine
  stage: test

  cache:
    paths:
      - node_modules/
  before_script:
    - apk update && apk add xvfb openjdk11 chromium

  script:
    - npm install
    - npm test
  artifacts:
    paths:
      - allure-results
      - allure-report
      - cypress/screenshots
      - cypress/videos